@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #1E2026;
}

.container{
  overflow-y: auto;
  overflow-x: hidden;
}

h2{
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  font-size: 40px;
  color: darkgray;
  width: 650px;
  margin: 10px 0px 0px 0px;
}

p{
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: gray;

}

button{
  background-color: #181716;
  border-radius: 6px;
  width: 110px;
  height: 45px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-style: solid;
  border-color: #ED2424;
  display: block;
}

img { 
  width: 200px;
}

a {
  flex: 1 0 auto;
  color: ghostwhite;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 25px;
  align-self: center;
  width: auto;
  margin: 10px 0px;
}

.header,
.footer{
  display: flex;
  justify-content: space-between;
  background-color: #181716;
  padding: 10px;
}

.hdlogo{
  margin-left: 20px;
}

.hdlnks{
  align-self: center;
}

.hdlink{
  margin-right: 10px;
  font-size: 25px;
  font-weight: 300;
  color: grey;
}

.intro{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 300px 0px 300px 0px;
}

.rhold{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  width: 650px;
  flex: 0 1;
}

.rhold > h1,
.rhold > p
{
  flex: 1 1 auto;
  width: 500px;
}

.panimage{
  flex: .35 1;
  margin: 20px 0px 20px 0px;
  width: 400px;
}

.spacer{
  flex: 3 1 auto;
}

.info{
  display: flex;
  flex-direction: column;
  background-color: #23252C;
}

.info h2{
  color: white;
  text-align: center;
  align-self: center;
}

.content{
  display: flex;
  justify-content: space-evenly;
}

.combo{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2 1 auto;
}

.combo > p{
  font-size: large;
  font-weight: bolder;
  display: inline;
  text-align: center;
}

.icon{
  width: 100px;
  flex: 2 1 auto;
}

.quote{
  display: flex;
  flex-direction: column;
  padding: 100px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.qtext{
  font-style: italic;
  font-size: 25px;
  color: white;
  
}

.uname{
  font-size: 25px;
  color: rgb(129, 129, 129);
  align-self: flex-end;
}

.logpop{
  flex: 0 1 0;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 90px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ED2424;
  color:  #181716;
}

.logpop h2{
  color:  #181716;
}

.logpop p{
  color: #161616;
  font-weight: bold;
}

.boxtn{
  align-self: center;
}

#b{
  margin-top: 0px;
}

.footer{
  justify-content: center;
}